.grid-container {
    display: grid;
    grid-template-columns: repeat(16, 1fr);
    grid-template-rows: repeat(16, 1fr);
    gap: 2px;
    padding: 10px;
    background-color: blue;
}

.grid-item {
    background-color: #ffffff;
    border: 1em solid #cccccc;
}