* {
    background-color: #004C54;
    padding: 5px;
}

.head {
    color: #ffffff;
    font-size: xx-large;
}

.welcome {
    display: flex;
    justify-content: center;
    align-items: center;
}

.grid-container {
    display: grid;
    gap: 1px;
    padding: 10px;
    background-color: #000000;
}

.grid-item {
    background-color: #ffffff;
    border: 1em solid #ffffff;
}

